<!DOCTYPE html>


<html>
<head>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/deck.js"></script>
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />

<title>Game Table</title>
</head>

<body>

  <text class="compose">Back to Lobby<i class="fa fa-sign-in" a  ria-hidden="true"></i></text>


  <!-- <div class= "score"></div> -->
  <div class= "host_score">
    <h2><%=host_score%></h2>
  </div>
  <div class="guest_score">
    <h2><%=guest_score%></h2>
  </div>
  <div class="result">
    <h2><%=result%></h2>
  </div>

  <div class= "opponent"></div>


  <div class= "player"></div>


  <div class= "prize"></div>

  <div class= "opponentCard"></div>
</body>

</html>
